.page-content{
  border: 2px solid red;
  height: 100vh;
}

.screens {
  border: 2px solid green;
  width: 900px;
  padding: 20px;
}

.screen {
  border: 2px solid blue;
 height: 100%; 
 padding: 40px;
 border-radius: 15px;
 
  
}

.btn-random{
  width: 100%;  
}