.page-content{
  height: 100vh;
}

.screens {
  width: 900px;
  padding: 20px;
}

.screen {
 height: 100%; 
 padding: 50px 30px;
 border-radius: 15px;
}

.btn-random{
  width: 100%;  
}

.success-response, .error-response {
  display: none;
  font-size: 1.1rem;
}

.digit-color{
 
  border-bottom: 3px solid yellow;

}